// to do: replace this with @use as soon as it's supported by node-sass
@import 'modal';
@import 'vars';

.klaro {
    .cookie-modal {
        .cm-modal {
            &.cm-ide {
                @include modal(1020px, 1000px);
            }        
        }
    }
}
