$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
$border-radius: 4px;
$border-dark: 1px solid #555;
$font-color-dark: #eee;
$font-color-dark-deemphasized: #999;
$bg-dark: #333;
$red2: #b24e14;
$red1: #ba1e04;
$yellow1: #f8c200;
$yellow2: #d4d026;
$blue3: #005091;
$blue2: #003f8a;
$blue1: #0885ba;
$blue4: #9ac3d4;
$green1: #00aa3e;
$green2: #006a4e;
$green3: #01440c;

@mixin text-styles() {
    font-family: inherit;
    color: $font-color-dark;
}

.klaro {
    @import 'switch';
    @import 'styles';
}
