$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
$border-radius: 4px;
$border-dark: 1px solid #555;
$font-color-dark: #eee;
$font-color-dark-deemphasized: #999;
$bg-dark: #333;
$red2: #B24E14;
$red1: #BA1E04;
$yellow1: #F8C200;
$yellow2: #D4D026;
$blue3: #005091;
$blue2: #003F8A;
$blue1: #0885BA;
$blue4: #9AC3D4;
$green1: #00AA3E;
$green2: #006A4E;
$green3: #01440C;

.klaro {

    .cookie-modal, .cookie-notice {

        @import 'switch.scss';

        font-size: 14px;

        .slider {
            box-shadow: $box-shadow;
        }

        a {
            color: $green1;
            text-decoration: none;
        }

        p, strong, h1, h2, ul, li {
            font-family: inherit;
            color: $font-color-dark;
        }

        p, h1, h2, ul, li {
            display: block;
            text-align: left;
            margin: 0;
            padding: 0;
            margin-top: 0.7em;
        }

        .cm-link {
            padding-left: 4px;
            vertical-align: middle;
        }

        .cm-btn {
            background: #555;
            color: $font-color-dark;
            border-radius: 6px;
            padding: 6px 10px;
            margin-right: 0.5em;
            border: 0;

            &:disabled {
                opacity: 0.5;
            }

            &.cm-btn-sm {
                padding: 0.4em;
                font-size: 1em;
            }

            &.cm-btn-close {
                background: #eee;
                color: #000;
            }

            &.cm-btn-success {
                background: $green1;
            }

            &.cm-btn-info {
                background: $blue1;
            }

            &.cm-btn-right {
                float: right;
                margin-left: 0.5em;
                margin-right: 0;
            }
        }
    }

    .cookie-modal {

        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        left: 0;
        top: 0;
        z-index: 1000;

        .cm-bg {
            background: rgba(0,0,0,0.5);
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        .cm-modal {
            z-index: 1001;
            box-shadow: $box-shadow;

            @media(min-width: 1024px){
                border-radius: $border-radius;
                position: relative;
                margin: 0 auto;
                max-width: 640px;
                height: auto;
                width: auto;
            }

            width: 100%;
            max-height: 98%;

            top: 50%;
            transform: translateY(-50%);

            position: fixed;
            overflow: auto;
            background: $bg-dark;
            color: $font-color-dark;

            .hide   {
                border: none;
                background: none;
                svg {
                    stroke: $font-color-dark;
                }
                position: absolute;
                top: 20px;
                right: 20px;
                // Avoid getting overlapped by the heading, if external CSS sets:
                // h1 { position: relative }
                // See: https://github.com/KIProtect/klaro/issues/135
                z-index: 1;
            }

            .cm-footer {
                padding: 1em;
                border-top: $border-dark;

                &-buttons {
                    &::before,
                    &::after {
                        content: " ";
                        display: table;
                    }

                    &::after {
                        clear: both;
                    }
                }

                .cm-powered-by {
                    font-size: 0.8em;
                    padding-top: 4px;
                    text-align: center;

                    a {
                        color: $font-color-dark-deemphasized;
                    }
                }
            }

            .cm-header {
                padding: 1em;
                padding-right: 24px;
                border-bottom: $border-dark;
                h1 {
                    margin: 0;
                    font-size: 2em;
                    display: block;
                    &.title {
                        padding-right: 20px;
                    }
                }
            }

            .cm-body {
                padding: 1em;
                ul {
                    display: block;
                }
                span {
                    display: inline-block;
                    width: auto;
                }
                ul.cm-apps {
                    padding :0;
                    margin: 0;
                    li.cm-app {
                        &:first-child{
                            margin-top: 0;
                        }
                        position: relative;
                        line-height: 20px;
                        vertical-align: middle;
                        padding-left: 60px;
                        min-height: 40px;
                        .switch {
                            position: absolute;
                            left: 0;
                        }
                        p {
                            margin-top: 0;
                        }

                        p.purposes {
                            font-size: 0.8em;
                            color: $font-color-dark-deemphasized;
                        }

                        &.cm-toggle-all {
                            border-top: $border-dark;
                            padding-top: 1em;
                        }

                        span.cm-app-title {
                            font-weight: 600;
                        }

                        span.cm-opt-out, span.cm-required {
                            padding-left: 0.2em;
                            font-size: 0.8em;
                            color: $font-color-dark-deemphasized;
                        }
                    }
                }
            }
        }
    }

    .cookie-notice {

        background: $bg-dark;
        z-index: 999;

        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;

        @media(min-width: 990px){
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            position: fixed;
            bottom: 20px;
            right: 20px;
            max-width: 300px;
        }

        @media(max-width: 989px){
            border: none;
            border-radius: 0;
        }

        .cn-body {
            margin-bottom:0;
            margin-right: 0;
            bottom: 0;

            padding: 1em;
            padding-top: 0;

            p {
                margin-bottom: 0.5em;
            }

            p.cn-changes {
                text-decoration: underline;
            }

            .cn-learn-more {
                display: inline-block;

            }

            p.cn-ok {
                padding-top: 0.5em;
                margin: 0;
            }
        }

    }

    .cookie-notice-hidden {
        display: none !important;
    }
}
