$primary: #183c6b;
$primary-transparent: rgba(24, 60, 107, 0.6);
$primary-semitransparent: rgba(24, 60, 107, 0.8);

$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
$border-radius: 4px;
$border: 1px solid #555;

$font-color: #4f4f4f;
$font-color-transparent: rgba(79, 69, 69, 0.55);
$font-color-semitransparent: rgba(79, 69, 69, 0.7);

$font-color-deemphasized: #999;
$font-color-link: #00439a;

$bg: white;
$bg-transparent: rgba(0, 0, 0, 0.5);

$button-background: rgba(255, 255, 255, 0.5);
$button-background-hover: $font-color-transparent;
$button-background-active: $font-color-semitransparent;
$button-primary-background: $primary;
$button-primary-background-hover: $primary-transparent;
$button-primary-background-active: $primary-semitransparent;

$mandatory: #4f4f4f;
$mandatory-round: #999;

.klaro {
    .cookie-modal,
    .cookie-notice {
        @import 'switch.scss';

        font-size: 14px;
        box-shadow: $box-shadow;

        .slider {
            box-shadow: $box-shadow;
        }

        a {
            color: $font-color-link;
            text-decoration: none;
        }

        p,
        strong,
        h1,
        h2,
        ul,
        li {
            font-family: inherit;
            color: $font-color;
        }

        p,
        h1,
        h2,
        ul,
        li {
            display: block;
            text-align: left;
            margin: 0;
            padding: 0;
            margin-top: 0.7em;
        }

        .cm-link {
            padding-left: 4px;
            vertical-align: middle;
        }

        .btn {
            background: $button-background;
            color: $font-color;
            border-radius: $border-radius;
            padding: 0.5em 4em;
            margin-right: 0.5em;
            text-decoration: none;
            transition: all 0.2s;

            border: 1px solid $font-color;
            color: $font-color;

            cursor: pointer;

            &.btn-sm {
                padding: 0.4em;
                font-size: 1em;
            }

            &.btn-close {
                background: $button-background;
                color: $font-color;
            }

            &.btn-success,
            &.btn-info {
                background: $button-primary-background;
                color: $bg;
            }

            &.btn-right {
                float: right;
                margin-left: 0.5em;
                margin-right: 0;
            }

            &.is-active,
            &:hover,
            &:active {
                background-color: $button-background-active;
                color: rgba(255, 255, 255, 0.9);
                text-decoration: none;
            }
            &:hover,
            &:focus {
                background-color: $button-background-hover;
            }
            &:active {
                background-color: $button-background-active;
            }

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    .cookie-modal {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        left: 0;
        top: 0;
        z-index: 1000;

        .cm-bg {
            background: $bg-transparent;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        .cm-modal {
            z-index: 1001;
            box-shadow: $box-shadow;

            @media (min-width: 1024px) {
                border-radius: $border-radius;
                position: relative;
                margin: 0 auto;
                max-width: 640px;
                height: auto;
                width: auto;
            }

            width: 100%;
            max-height: 98%;

            top: 50%;
            transform: translateY(-50%);

            position: fixed;
            overflow: auto;
            background: $bg;
            color: $font-color;

            .hide {
                border: none;
                background: none;
                svg {
                    stroke: $font-color;
                }
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                // Avoid getting overlapped by the heading, if external CSS sets:
                // h1 { position: relative }
                // See: https://github.com/KIProtect/klaro/issues/135
                z-index: 1;
            }

            .cm-footer {
                padding: 1em;
                border-top: $border;

                &-buttons {
                    &::before,
                    &::after {
                        content: ' ';
                        display: table;
                    }

                    &::after {
                        clear: both;
                    }
                }

                .cm-powered-by {
                    font-size: 0.8em;
                    padding-top: 4px;
                    text-align: center;

                    a {
                        color: $font-color-deemphasized;
                    }
                }
            }

            .cm-header {
                padding: 1em;
                padding-right: 24px;
                border-bottom: $border;
                h1 {
                    margin: 0;
                    font-size: 2em;
                    display: block;
                    &.title {
                        padding-right: 20px;
                    }
                }
            }

            .cm-body {
                padding: 1em;
                ul {
                    display: block;
                }
                span {
                    display: inline-block;
                    width: auto;
                }
                ul.cm-apps {
                    padding: 0;
                    margin: 0;
                    li.cm-app {
                        &:first-child {
                            margin-top: 0;
                        }
                        position: relative;
                        line-height: 20px;
                        vertical-align: middle;
                        padding-left: 60px;
                        min-height: 40px;
                        .switch {
                            position: absolute;
                            left: 0;
                        }
                        p {
                            margin-top: 0;
                        }

                        p.purposes {
                            font-size: 0.8em;
                            color: $font-color-deemphasized;
                        }

                        &.cm-toggle-all {
                            border-top: $border;
                            padding-top: 1em;
                        }

                        span.cm-app-title {
                            font-weight: 600;
                        }

                        span.cm-opt-out,
                        span.cm-required {
                            padding-left: 0.2em;
                            font-size: 0.8em;
                            color: $font-color-deemphasized;
                        }
                    }
                }
            }
        }
    }

    .cookie-notice {
        background: $bg;
        z-index: 999;

        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;

        @media (min-width: 990px) {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            position: fixed;
            bottom: 20px;
            right: 20px;
            max-width: 300px;
        }

        @media (max-width: 989px) {
            border: none;
            border-radius: 0;
        }

        .cn-body {
            margin-bottom: 0;
            margin-right: 0;
            bottom: 0;

            padding: 1em;
            padding-top: 0;

            p {
                margin-bottom: 0.5em;
            }

            p.cn-changes {
                text-decoration: underline;
            }

            .cn-learn-more {
                display: inline-block;
            }

            p.cn-ok {
                padding-top: 0.5em;
                margin: 0;
            }
        }
    }

    .cookie-notice-hidden {
        display: none !important;
    }

    .floating-button {
        display: block;
        z-index: 999;

        position: fixed;
        transition: all 0.2s;
        cursor: pointer;
        bottom: 0;
        right: 20px;
        box-shadow: $box-shadow;
        border-radius: 2px;
        text-decoration: none;
        max-width: 300px;
        border: $border;
        color: gray;
        border-bottom-color: rgb(187, 187, 187);
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom: none;
        background: $bg;
        font-size: 14px;
        font-weight: 700;
        padding: 7px 14px;

        &.is-active,
        &:hover,
        &:active {
            background-color: $button-background;
            color: rgba(255, 255, 255, 0.9);
            text-decoration: none;
        }
        &:hover,
        &:focus {
            background-color: $button-background-hover;
        }
        &:active {
            background-color: $button-background-active;
        }
    }

    .floating-button-hidden {
        display: none !important;
    }
}
