$orejime-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19) !default;
$orejime-border-radius: 4px !default;

$orejime-blue: #057EB6 !default;
$orejime-green: #008A28 !default;

$orejime-theme-bg: #333 !default;
$orejime-theme-border: 1px solid #555 !default;
$orejime-theme-color: #eee !default;
$orejime-theme-color-light: #aaa !default;

// micro css reset for everything orejime related
[class^="orejime-"] {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    vertical-align: baseline;
    cursor: default;
    float: none;
    width: auto;
    text-align: left;
    font-weight: normal;
}

.orejime-Main,
.orejime-Modal {
    font-size: 1em;
    line-height: 1.5;
}

.orejime-Button {
    border: 0;
    color: #fff;
    border-radius: $orejime-border-radius;
    padding: 6px 10px;
    margin-right: 0.5em;
    border: 1px solid transparent;

    &[disabled] {
        opacity: 0.75;
    }
}

.orejime-Button--save,
.orejime-Button--accept {
    background: $orejime-green;
    color: #fff;
}

.orejime-Button--decline {
    background: #666;
}

.orejime-Button--info {
    background: $orejime-blue;
}

.orejime-Notice {
    background: $orejime-theme-bg;
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;
    font-size: 0.8em;

    @media (min-width: 990px) {
        box-shadow: $orejime-box-shadow;
        border-radius: $orejime-border-radius;
        bottom: 20px;
        right: 20px;
        max-width: 300px;
    }

    @media (max-width: 989px) {
        border: none;
        border-radius: 0;
    }
}

.orejime-Notice--hidden {
    display: none !important;
}

.orejime-Notice-body {
    padding: 1em;
}

.orejime-Notice-title,
.orejime-Notice-description {
    color: $orejime-theme-color;
    margin-bottom: 0.5em;
}

.orejime-Notice-title {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.3;
}

.orejime-Notice-purposes {
    color: $orejime-theme-color;
}

.orejime-Notice-changes {
    color: $orejime-theme-color;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.orejime-Notice-actions {
    display: block;
}

.orejime-Notice-actionItem {
    display: inline;
}

.orejime-Notice-learnMoreButton {
    display: inline-block;
}

.orejimeHtml-WithModalOpen {
    height: 100%;
}

.orejimeHtml-WithModalOpen body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.orejime-ModalOverlay {
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.orejime-ModalWrapper {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 640px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

 .orejime-Modal {
    background: $orejime-theme-bg;
    color: $orejime-theme-color;
    border-radius: $orejime-border-radius;
    box-shadow: $orejime-box-shadow;
}

.orejime-Modal-header {
    padding: 1em;
    border-bottom: $orejime-theme-border;
}

.orejime-Modal-title {
    margin: 0;
    font-size: 2em;
    display: block;
    font-weight: bold;
    padding-right: 20px;
}

.orejime-Modal-closeButton {
    border: none;
    background: none;
    color: inherit;
    position: absolute;
    top: 1em;
    right: 1em;
}

.orejime-CloseIcon {
    stroke: currentColor;
    width: 12px;
}

.orejime-Modal-body {
    padding: 1em;
}

.orejime-Modal-footer {
    padding: 1em;
    border-top: $orejime-theme-border;
}

.orejime-Modal-privacyPolicyLink,
.orejime-Modal-poweredByLink {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
        color: inherit;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.orejime-Modal-poweredByLink {
    position: absolute;
    right: 1em;
    color: $orejime-theme-color-light;
    font-size: 0.8em;
    padding: 6px 0;

    &:hover,
    &:focus,
    &:active {
        color: $orejime-theme-color-light;
    }
}

.orejime-AppList {
    display: block;
    padding: 0;
    margin: 0;
}

.orejime-AppList-item {
    display: block;
    position: relative;
    line-height: 1.25;
    vertical-align: middle;
    padding-left: 60px;
    min-height: 40px;
    margin-top: 0.7em;

    &:first-child {
        margin-top: 0;
    }
}

.orejime-AppItem-title {
    font-weight: 600;
    cursor: pointer;
}

.orejime-AppItem-description {
    font-size: 0.8em;
}

.orejime-AppItem-purposes {
    font-size: 0.8em;
    color: $orejime-theme-color-light;
}

.orejime-AppItem-optOut,
.orejime-AppItem-required {
    padding-left: 0.2em;
    font-size: 0.8em;
    color: $orejime-theme-color-light;
}

.orejime-AppItem-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50px;
    height: 30px;
}

.orejime-AppItem-switch {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.orejime-AppItem-slider {
    box-shadow: $orejime-box-shadow;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid transparent;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        border: 1px solid #555;
    }
}

.orejime-AppItem-switchLabel {
    position: absolute;
    width: 50px;
    top: 34px;
    overflow: ellipsis;
    font-size: 0.8em;
    text-align: center;
}

.orejime-AppItem-switch--disabled .orejime-AppItem-slider {
    cursor: default;
    opacity: 0.5;
}

.orejime-AppItem-switch--disabled .orejime-AppItem-switchLabel {
    color: #aaa;
}

.orejime-AppItem-input:focus + .orejime-AppItem-label .orejime-AppItem-slider {
    border-color: #fff;
    outline-offset: 2px;
}

.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider {
    background-color: $orejime-blue;
}

.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.orejime-AppToggles {
    margin-bottom: 1em;
    display: block;
}

.orejime-AppToggles-item {
    display: inline;
}
