

.cm-app-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50px;
    height: 30px;
}



.cm-app-label {
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
    }

    /* The slider */
    .slider {
        $this: '.cm-app-label .slider';

        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        box-shadow: $box-shadow;
        transition: 0.4s;
        width: 50px;
        display: inline-block;

        .cm-app-input:focus + #{$this} {
            box-shadow: 0 4px 6px 0 rgba(125, 125, 125, 0.2), 5px 5px 10px 0 rgba(125, 125, 125, 0.19);
        }

        .cm-app-input:checked + #{$this} {
            background-color: $blue1;
        }

        .cm-app-input.required:checked + #{$this} {
            opacity: 0.8;
            background-color: $green2;
            cursor: not-allowed;
        }
    }

    .slider::before {
        $this: '.cm-app-label .slider::before';

        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 5px;
        background-color: #fff;
        transition: 0.4s;

        .cm-app-input:checked + #{$this} {
            transform: translateX(20px);
        }
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 30px;
    }

    .slider.round::before {
        border-radius: 50%;
    }
}
