$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19) !default;
$border-radius: 4px !default;
$border-dark: 1px solid #555 !default;
$font-color-dark: #eee !default;
$font-color-dark-deemphasized: #999 !default;
$bg-dark: #333 !default;
$red2: #b24e14 !default;
$red1: #ba1e04 !default;
$yellow1: #f8c200 !default;
$yellow2: #d4d026 !default;
$blue3: #005091 !default;
$blue2: #003f8a !default;
$blue1: #0885ba !default;
$blue4: #9ac3d4 !default;
$green1: #00aa3e !default;
$green2: #006a4e !default;
$green3: #01440c !default;
$full-width: 1024px !default;
$mobile-width: 768px !default;
$tiny-mobile-width: 384px !default;
